body {
    text-align:center;
    color:#F4F4F6;
    background-color:#E6E6E9
  }
  
  div {
    background-color:#9999A1;
    display:inline-block;
    width:550px;
    padding:20px;
    border:5px solid #66666E;
    color:#000000;
    margin:5px;
  }
  
  a {
    color:#000000;
    font-size:24px;
    text-decoration:none;
  }
  
  a:hover {
    text-decoration:underline;
    color:#F4F4F6;
  }
  
  #hide {
    display:none;
  }
  
  h1 {
    background-color:#9999A1;
    border:5px solid #66666E;
    display:block;
    min-height:50px;
    text-decoration:underline;
  }
  
  h3 {
    font-size:24px;
    text-decoration:underline;
  }