body {
    text-align:center;
    color:#ADCAEB;
    background-color:#66666E
  }
  
  div {
    background-color:#9999A1;
    display:inline-block;
    width:550px;
    padding:20px;
    border:5px solid #E6E6E9;
    color:#EE7B30;
    margin:5px;
  }
  
  a {
    color:#EE7B30;
    font-size:24px;
    text-decoration:none;
  }
  
  a:hover {
    text-decoration:underline;
    color:lightblue;
  }
  
  #hide {
    display:none;
  }
  
  h1 {
    background-color:#9999A1;
    display:block;
    min-height:50px;
    text-decoration:underline;
  }
  
  h3 {
    font-size:24px;
  }